@charset "UTF-8";

/* リーリース時には消すこと!!! */
* {
  /* outline: 1px rgba(255, 0, 0, 0.8) solid; */
}
/* 変数の定義 */
:root {
  --max-width: 1440px;
  --max-content-width: 900px;
  --min-content-width: 375px;
}

@font-face {
  font-family: 'Zen Old Mincho';
  src: url('../font/Zen_Old_Mincho/ZenOldMincho-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Zen Old Mincho';
  src: url('../font/Zen_Old_Mincho/ZenOldMincho-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Zen Old Mincho';
  src: url('../font/Zen_Old_Mincho/ZenOldMincho-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Zen Old Mincho';
  src: url('../font/Zen_Old_Mincho/ZenOldMincho-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Zen Old Mincho';
  src: url('../font/Zen_Old_Mincho/ZenOldMincho-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Eczar';
  src: url('../font/Eczar/Eczar-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'LiSong Pro';
  src: url('../font/lisong-pro/lisong-pro.ttf') format('truetype');
}

html {
  /* コンテンツ幅でのフォントサイズ */
  max-width: var(--max-width);
  scroll-behavior: smooth;
  margin: 0 auto;
  font-size: clamp(1px, 1.6vw, 16px);
  font-family: 'Zen Old Mincho', serif;
}
.for-pc {
  display: initial;
}
.for-sp {
  display: none;
}
.inner {
  max-width: var(--max-content-width);
  min-width: var(--min-content-width);
  margin: 0 auto;
}

button {
  border-radius: clamp(1px, 0.56vw, 5px);
  background-color: #97a652;
  color: white;
  box-shadow: 0px clamp(1px, 0.44vw, 4px) clamp(1px, 0.44vw, 4px) 0px #00000040;
  font-family: LiSong Pro, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
}

button:hover {
  background-color: #788734;
}

/* *********************************************** */
/* 年齢確認ポップアップ */
#blindfold {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

#blindfold img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#popup {
  width: clamp(1px, 71.56vw, 644px);
  height: clamp(1px, 48.22vw, 434px) 434px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background: rgba(255, 255, 255, 0.7);
  border-radius: clamp(1px, 2.78vw, 25px);
  padding-top: clamp(1px, 8.78vw, 79px);
  text-align: center;
}
#popup h2 {
  position: absolute;
  width: clamp(1px, 70.44vw, 634px);
  height: clamp(1px, 12.56vw, 113px);
  left: clamp(1px, 1.78vw, 16px);
  top: clamp(1px, 8.78vw, 79px);
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.464;
  letter-spacing: 0em;
  text-align: center;
}
#popup button {
  width: clamp(1px, 24.33vw, 219px);
  height: clamp(1px, 9.33vw, 84px);
  margin: clamp(1px, 18vw, 162px) clamp(1px, 5.22vw, 47px) 0;
  padding: clamp(1px, 1.11vw, 10px) clamp(1px, 2.22vw, 20px);
  background-color: white;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: clamp(1px, 3.33vw, 30px);
  font-size: 1.75rem;
  line-height: 1.448;
  cursor: pointer;
  color: black;
  font-weight: 900;
}

/* 年齢確認ポップアップ */
/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
}

/* *********************************************** */
/* header */

header {
  display: flex;
  width: 100%;
  height: clamp(1px, 6vw, 54px);
  position: sticky;
  z-index: 9990;
  top: 0;
  background-color: #5c4c47;
  justify-content: space-between;
}
.header_logo__img {
  margin-top: clamp(1px, 0.33vw, 3px);
  width: clamp(1px, 31.56vw, 284px);
  height: clamp(1px, 4.89vw, 44px);
}
.nav_menu {
  width: fit-content;
  font-family: 'Eczar', serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0em;
  color: white;
  vertical-align: middle;
}
.nav_menu__ul {
  margin-top: clamp(1px, 1.11vw, 10px);
}
.nav_menu__li:not(:last-child) {
  margin-right: clamp(1px, 5vw, 45px);
}
.nav_menu__li:last-child {
  margin-right: clamp(1px, 1.33vw, 12px);
}
.nav_menu__li {
  display: inline-flex;
}

/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
  .for-sp {
    display: initial;
  }
  .for-pc {
    display: none;
  }
  header {
    height: 0;
    position: sticky;
    z-index: 9990;
    top: 0;
    background-color: unset;
  }
  .nav_menu {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: fit-content;
    transition: right 0.5s;
    overflow-y: auto;
    background-color: var(--table_h_color);
    margin-top: clamp(1px, 21.33vw, 213px);
    z-index: 999;
  }
  .nav_menu.active {
    right: 0;
  }

  .sp_menu_btn {
    position: fixed;
    top: 16px;
    right: 32px;
    display: flex;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 00, 0.3);
  }
  .sp_menu__span,
  .sp_menu__span::before,
  .sp_menu__span::after {
    display: inline-flex;
    content: '';
    height: 4px;
    width: 42px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    right: 0;
  }
  .sp_menu__span {
    top: 22px;
    left: 3px;
  }
  .sp_menu__span::before {
    bottom: 19px;
  }
  .sp_menu__span::after {
    top: 19px;
  }

  .nav_menu {
    position: fixed;
    top: 0;
    right: -100vw;
    width: clamp( 246px, 65.6vw, 590px);
    height: clamp( 405px, 108vw, 972px);
    transition: right 0.5s;
    overflow-y: auto;
    background-color: white;
    margin-top: 0;
    z-index: 999;
  }
  .nav_menu.active {
    right: 0;
  }
  .nav_menu__ul {
    display: block;
    padding-top: clamp( 10px, 2.67vw, 24px);
  }
  .nav_menu__li {
    display: block;
    width: clamp( 219px, 58.4vw, 526px);
    height: clamp( 60px, 16vw, 144px);
    font-family: 'Zen Old Mincho';
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.45;
    background-color: #dfc9b4;
    color: black;
    margin-left: clamp( 9px, 2.4vw, 22px);
    text-align: center;
    padding-top: clamp( 10px, 2.67vw, 24px);
  }
  .nav_menu__li:nth-child(2) {
    margin-top: clamp( 10px, 2.67vw, 24px);
  }
  .nav_menu__li:nth-child(3) {
    margin-top: clamp( 16px, 4.27vw, 38px);
  }
  .nav_menu__li:nth-child(4) {
    margin-top: clamp( 12px, 3.2vw, 29px);
  }
  .nav_menu__li:nth-child(5) {
    margin-top: clamp( 22px, 5.87vw, 53px);
  }

}

/* *********************************************** */
/* keyvisual */
#keyvisual {
  width: 100%;
  height: clamp(1px, 61.11vw, 550px);
  position: relative;
}
.kv_logo {
  display: inline;
  width: clamp(1px, 85.22vw, 767px);
  height: clamp(1px, 14.11vw, 127px);
  position: absolute;
  bottom: 0;
  right: 0;
}
.keyvisual__img {
  width: 100%;
  height: clamp(1px, 61.11vw, 550px);
  object-fit: cover;
  object-position: 0 100%;
  box-shadow: 0px clamp(1px, 0.44vw, 4px) clamp(1px, 4.11vw, 37px) 0px #0000007a;
}
.kv_logo {
  bottom: 0;
  right: 0;
}
.kv_logo__img {
  width: clamp(1px, 85.22vw, 767px);
  height: clamp(1px, 14.11vw, 127px);
}

/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
  #keyvisual {
    width: 100%;
    height: clamp( 419px, 111.73vw, 1006px);
  }
  .keyvisual__img {
    width: 100%;
    height: clamp( 419px, 111.73vw, 1006px);
    box-shadow: none;
  }
  .kv_logo {
    bottom: unset;
    right: unset;
    top: clamp( 142px, 37.87vw, 341px);
    left: 70px;
  }
  .kv_logo__img {
    width: clamp( 247px, 65.87vw, 593px);
    height: clamp( 135px, 36vw, 324px);
  }
}

/* *********************************************** */
/* contents1 */
#campaing_jp_point {
  margin-top: clamp(-55px, -6.11vw, -1px);
  padding-top: clamp(1px, 6.11vw, 55px);
}

#contents1 {
  z-index: 100;
  width: 100%;
  height: clamp(1px, 72.22vw, 650px);
  padding-top: clamp(1px, 1.67vw, 15px);
  padding-top: 0;
  background-image: url(../images/c1-bg-pc.webp);
  background-size: cover;
  background-position: center;
}
.contents1_title {
  width: clamp(1px, 89.56vw, 806px);
  height: clamp(1px, 26.67vw, 240px);
  margin-left: clamp(1px, 4.78vw, 43px);
}
.contents1_title__img {
  width: clamp(1px, 89.56vw, 806px);
  height: clamp(1px, 26.67vw, 240px);
}

.contents1_cards {
  display: flex;
}

.c1_card_text {
  width: clamp(1px, 31.33vw, 282px);
  margin-left: clamp(1px, 10.89vw, 98px);
  text-align: center;
}
.c1_card_text h3 {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
}
.c1_card_text h4 {
  width: 100%;
  padding-top: clamp(1px, 2.56vw, 23px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
}
.c1_card_text .note__p {
  width: 100%;
  padding-top: clamp(1px, 0.56vw, 5px);
  font-size: clamp(1px, 1.33vw, 12px);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
}
.c1_card_text .price__p {
  width: 100%;
  padding-top: clamp(1px, 2.78vw, 25px);
  padding-bottom: clamp(1px, 1.44vw, 13px);
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: underline;
}
.c1_card_text button {
  width: clamp(1px, 22.67vw, 204px);
  height: clamp(1px, 4.11vw, 37px);
}

.c1_card_img {
  width: clamp(1px, 33vw, 297px);
  margin-top: clamp(-10px, -1.11vw, -1px);
  margin-left: clamp(1px, 3.89vw, 35px);
}
.contents1_card__img {
  width: clamp(1px, 33vw, 297px);
  height: clamp(1px, 38.44vw, 346px);
}

/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
  #contents1 {
    height: clamp( 760px, 202.67vw, 1824px);
    padding-top: clamp( 32px, 8.53vw, 77px);
    background-image: url(../images/c1-bg-sp.webp);
  }
  .contents1_title {
    width: clamp( 323px, 86.13vw, 775px);
    height: clamp( 164px, 43.73vw, 394px);
    margin-left: clamp( 25px, 6.67vw, 60px);
  }
  .contents1_title__img {
    width: clamp( 323px, 86.13vw, 775px);
    height: clamp( 164px, 43.73vw, 394px);
  }
  .contents1_cards {
    display: flex;
    flex-direction: column-reverse;
  }
  .contents1_card {
    width: 100%;
  }
  .c1_card_text {
    margin: 0;
  }
  .c1_card_img {
    margin: 0;
  }
  .c1_card_img {
    width: clamp( 246px, 65.6vw, 590px);
    height: clamp( 230px, 61.33vw, 552px);
    margin-top: clamp( 14px, 3.73vw, 34px);
    margin-left: clamp( 66px, 17.6vw, 158px);
  }
  .contents1_card__img {
    width: clamp( 246px, 65.6vw, 590px);
    height: clamp( 230px, 61.33vw, 552px);
  }
  .c1_card_text h3 {
    margin-top: clamp( 28px, 7.47vw, 67px);
    font-size: 2.4rem;
    line-height: 1;
    letter-spacing: 0em;
    text-align: center;
  }
  .c1_card_text h4 {
    margin-top: clamp( 12px, 3.2vw, 29px);
    padding-top: 0;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1;
  }

  .c1_card_text .note__p {
    padding-top: 0;
    font-size: 2..1rem;
    line-height: 1;
    letter-spacing: 0em;
  }

  .c1_card_text .price__p {
    padding-top: clamp( 10px, 2.67vw, 24px);
    padding-bottom: clamp( 30px, 8vw, 72px);
    font-size: 2.4rem;
    line-height: 1;
  }
  .c1_card_text button {
    width: clamp( 218px, 58.13vw, 523px);
    height: clamp( 42px, 11.2vw, 101px);
    font-size: 2.4rem;
    line-height: 1;
  }
}

/* *********************************************** */
/* about */
#about_jp_point {
  margin-top: clamp(-55px, -6.11vw, -1px);
  padding-top: clamp(1px, 6.11vw, 55px);
}
#about {
  width: 100%;
  height: clamp(1px, 42.11vw, 379px);
  padding-top: clamp(1px, 3vw, 27px);
  background-color: #5c4c47;
}
.about_title__img {
  display: block;
  width: clamp(1px, 29.78vw, 268px);
  height: clamp(1px, 6.67vw, 60px);
  margin: 0 auto;
}
.about_text {
  display: block;
  max-width: 900px;
  height: clamp(1px, 29.89vw, 269px);
  margin: 0 auto;
  padding-top: clamp(1px, 6.22vw, 56px);
  background-image: url('../images/frame-pc.webp');
  background-size: cover;
}
.about_text p {
  width: clamp(1px, 65.11vw, 586px);
  margin: 0 auto;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  text-align: center;
  color: white;
}

/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
  #about {
    height: clamp( 431px, 114.93vw, 1034px);
    padding-top: clamp( 18px, 4.8vw, 43px);
  }
  .about_title__img {
    display: block;
    width: clamp( 179px, 47.73vw, 430px);
    height: clamp( 40px, 10.67vw, 96px);
    margin: 0 auto;
  }
  .about_text {
    display: block;
    width: clamp( 325px, 86.67vw, 780px);
    height: clamp( 330px, 88vw, 792px);
    margin: 0 auto;
    padding-top: clamp( 72px, 19.2vw, 173px);
    background-image: url('../images/waku3-sp.webp');
    background-size: cover;
  }
  .about_text p {
    width: 100%;
    margin: 0 auto;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 1.21;
  }
}

/* *********************************************** */
/* product */
#product_jp_point {
  margin-top: clamp(-55px, -6.11vw, -1px);
  padding-top: clamp(1px, 6.11vw, 55px);
}
#product {
  width: 100%;
  height: clamp(1px, 134.44vw, 1210px);
  padding-top: clamp(1px, 6.78vw, 61px);
  background-image: url('../images/c3-bg-pc.webp');
  background-size: clamp(1px, 160vw, 1440px) clamp(1px, 134.44vw, 1210px);
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
}
.product__h2 {
  display: block;
  width: fit-content;
  margin: 0 auto;
}
.product_title__img {
  width: clamp(292px, 32.44vw, 292px);
  height: clamp(1px, 7.78vw, 70px);
}

.product_cards {
  display: flex;
  height: fit-content;
  padding-bottom: clamp(1px, 9.56vw, 86px);
}

.product_card {
}
.product_img {
  width: fit-content;
  padding-top: clamp(1px, 4vw, 36px);
  padding-left: clamp(1px, 10.67vw, 96px);
}
.producr_img__img {
  width: clamp(1px, 37.56vw, 338px);
  height: clamp(1px, 32.67vw, 294px);
}
.product_text {
  display: block;
  width: fit-content;
  padding: clamp(1px, 1.78vw, 16px) clamp(1px, 1.33vw, 12px) 0;
}
.product_text__h3 {
  display: block;
  width: 100%;
  text-align: center;
}
.product_text__img {
  width: clamp(1px, 48vw, 432px);
  height: clamp(1px, 9.56vw, 86px);
}
.product_text_box {
  width: clamp(1px, 43.44vw, 391px);
  height: fit-content;
  margin: 0 auto;
  padding-top: clamp(1px, 2.22vw, 20px);
  padding-top: 12px;
  text-align: center;
}
.product_text_box p:first-child {
  padding-bottom: clamp(1px, 2.44vw, 22px);
}
.product_text_box p {
  display: block;
  font-size: 1rem;
  line-height: 1.03;
}
.product_text button {
  display: block;
  width: clamp(1px, 23.56vw, 212px);
  height: clamp(1px, 3.89vw, 35px);
  margin: clamp(1px, 2.56vw, 23px) auto 0;
}

.instview__a {
  display: inline-flex;
  width: fit-content;
  margin-top: clamp(1px, 3.67vw, 33px);
  margin-left: clamp(1px, 41.11vw, 370px);
  align-items: start;
  font-weight: 900;
  font-size: 1.375rem;
  line-height: 0.81;
}
.inatview__img {
  width: clamp(1px, 4vw, 36px);
  height: clamp(1px, 2.78vw, 25px);
}
.ins_cards {
  display: flex;
  max-width: 900px;
}

.inst_card:not(:last-child) {
  margin-right: clamp(1px, 2.67vw, 24px);
}
.inst_card:last-child {
  margin-right: 0;
}
.inst_card {
  width: clamp(1px, 31.11vw, 280px);
}
.inst_card .inst_card__a {
  display: block;
  margin: 0;
}

.inst_card__img {
  display: block;
  width: clamp(1px, 31.11vw, 280px);
  height: clamp(1px, 27.78vw, 250px);
}

.banner {
  width: 100%;
  margin-top: clamp(1px, 8vw, 72px);
}
.banner__a {
  display: block;
  position: relative;
  height: clamp(1px, 22.22vw, 200px);
  transition: 1.5s;
}
.banner__a:hover {
  transform: scale(1.05, 1.05);
  transition: 1.5s;
}
.banner_btn {
  width: clamp(1px, 100vw, 900px);
  height: clamp(1px, 22.22vw, 200px);
}
.kirakira_1__img {
  position: absolute;
  top: clamp(-24px, -2.67vw, 1px);
  left: clamp(1px, 16.11vw, 145px);
  width: clamp(1px, 14.67vw, 132px);
  height: clamp(1px, 13.67vw, 123px);

  animation-name: kira1;
  opacity: 0;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes kira1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.kirakira_2__img {
  position: absolute;
  top: clamp(1px, 7.78vw, 70px);
  left: clamp(1px, 85vw, 765px);
  width: clamp(1px, 13vw, 117px);
  height: clamp(1px, 12.78vw, 115px);

  animation-name: kira1;
  opacity: 0;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.kirakira_3__img {
  position: absolute;
  top: clamp(1px, 2.22vw, 20px);
  left: clamp(1px, 61.67vw, 555px);
  width: clamp(1px, 6.67vw, 60px);
  height: clamp(1px, 5.56vw, 50px);

  animation-name: kira1;
  opacity: 0;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.kirakira_4__img {
  position: absolute;
  top: clamp(1px, 15.22vw, 137px);
  left: clamp(1px, 34.11vw, 307px);
  width: clamp(1px, 6.44vw, 58px);
  height: clamp(1px, 5.11vw, 46px);

  animation-name: kira1;
  opacity: 0;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
  #product {
    width: 100%;
    height: clamp( 1280px, 341.33vw, 3072px);
    padding-top: clamp( 21px, 5.6vw, 50px);
    background-image: url('../images/c3-bg-sp.webp');
    background-size: 100vw 340.86vw;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: clamp( 30px, 8vw, 72px);
  }
  .product_title__img {
    width: clamp( 190px, 50.67vw, 456px);
    height: clamp( 45px, 12vw, 108px);
  }
  .product_cards {
    display: block;
    height: fit-content;
    padding-bottom: clamp( 20px, 5.33vw, 48px);
  }
  .product_img {
    width: 100%;
    height: clamp( 294px, 78.4vw, 706px);
    padding-top: clamp( 42px, 11.2vw, 101px);
    padding-left: clamp( 70px, 18.67vw, 168px);
  }
  .producr_img__img {
    width: clamp( px, vw, px)275px;
    height: 248px;
  }
  .product_text {
    width: 100%;
    padding: 0;
  }
  .product_text__img {
    width: 240px;
    height: 51px;
  }
  .product_text__h3 {
    display: block;
    width: fit-content;

    margin-left: 60px;
  }

  .product_text_box {
    width: 325px;
    height: fit-content;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
  }

  .product_text_box p {
    display: block;
    font-size: 14px;
    line-height: 1.2;
  }

  .product_text button {
    width: 140px;
    height: 35px;
    margin: 20px auto 0;
    font-size: 16px;
    border-radius: 5px;
  }
  .inst_card:not(:first-child) {
    display: none;
  }
  .inst_card:first-child {
    width: 250px;
    margin: 0 auto;
  }
  .inst_card__img:first-child {
    width: 250px;
    height: 250px;
  }
  .instview__a {
    font-size: 22px;
    line-height: 1.45;
    margin-top: 14px;
    margin-left: 84px;
  }
  .inatview__img {
    width: 36px;
    height: 25px;
  }
  .banner {
    width: 100%;
    margin-top: 40px;
    margin-left: 36px;
  }
  .banner_btn {
    width: 325px;
    height: 72px;
  }
}

/* *********************************************** */
/* footer */
footer {
  position: relative;
  width: 100%;
  height: clamp(1px, 46.22vw, 416px);
  padding-top: clamp(1px, 12.67vw, 114px);
  background-color: #5c4c47;
  color: white;
}
.footer_box {
  display: flex;
  width: clamp(1px, 95.11vw, 856px);
  margin: 0 clamp(1px, 0.89vw, 8px) 0 auto;
}
.logo_circle {
  width: clamp(1px, 16.89vw, 152px);
  height: clamp(1px, 16.44vw, 148px);
}
.logo_circle__img {
  width: clamp(1px, 16.89vw, 152px);
  height: clamp(1px, 16.44vw, 148px);
}
.sp_flex_direction {
  display: flex;
}
.pc_flex {
  display: flex;
}
.footer_nav {
  /* display: inline-block; */
  width: clamp(1px, 24.78vw, 223px);
  margin-left: clamp(1px, 8.33vw, 75px);
  font-size: 1rem;
  line-height: 1.448;
}
.footer__nav__li:first-child {
  margin-top: clamp(1px, 2.22vw, 20px);
}
.footer__nav__li:nth-child(2) {
  margin-top: clamp(1px, 0.89vw, 8px);
}
.footer__nav__li:nth-child(3) {
  margin-top: clamp(1px, 0.89vw, 8px);
}
.footer__nav__li:nth-child(4) {
  margin-top: clamp(1px, 1.33vw, 12px);
}
.footer__nav__li:last-child {
  margin-top: 0;
}

.footer_info {
  width: clamp(1px, 24vw, 216px);
}
.footer_info_customer p {
  font-size: 0.875rem;
  line-height: 1.45;
}
.footer_info_customer a {
  font-size: 0.875rem;
  line-height: 1.45;
  text-decoration: underline;
}
.footer_info_address p:first-child {
  margin-top: clamp(1px, 2vw, 18px);
  font-size: 1rem;
  line-height: 1.45;
}
.footer_info_address p:last-child {
  font-size: 0.75rem;
  line-height: 1.1;
}

.sns {
  width: clamp(1px, 21.11vw, 190px);
  font-size: 1rem;
  line-height: 1.44;
  text-align: center;
}
.sns p {
  display: block;
  width: 100%;
  margin-top: clamp(1px, 2.22vw, 20px);
  padding-bottom: clamp(1px, 1.44vw, 13px);
}
.sns_img {
  display: inline-block;
  width: clamp(1px, 4.89vw, 44px);
  height: clamp(1px, 4.89vw, 44px);
  justify-content: space-between;
}

.sns__img:first-child {
  width: clamp(1px, 4.89vw, 44px);
  height: clamp(1px, 4.89vw, 44px);
}
.sns__img:not(:first-child) {
  width: clamp(1px, 4.44vw, 40px);
  height: clamp(1px, 4.44vw, 40px);
}
.footer_note {
  display: flex;
  width: fit-content;
  margin: clamp(1px, 6.11vw, 55px) clamp(1px, 1.33vw, 12px) 0 auto;
}
.footer_note_sopt__img {
  width: clamp(1px, 4vw, 36px);
  height: clamp(1px, 5.56vw, 50px);
}
.footer_note__p {
  display: flex;
  margin-left: clamp(1px, 0.89vw, 8px);
  width: clamp(1px, 35.78vw, 322px);
  font-size: 0.6875rem;
  line-height: 1.21;
}

.footer_note__img {
  width: clamp(1px, 4vw, 36px);
  height: clamp(1px, 4vw, 36px);
}

.topmove_btn__a {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  bottom: clamp(1px, 7.78vw, 70px);
  left: clamp(1px, 90.97vw, 1310px);
  z-index: 999;
}
.topmove_btn {
  display: block;
  width: clamp(1px, 9.11vw, 82px);
  height: clamp(1px, 9.11vw, 82px);
  background-color: rgba(255, 255, 255, 0.42);
  border-radius: 50%;
  /* bottom: clamp( 1px, 2.67vw, 24px); */
  /* left: clamp( 1px, 25.56vw, 230px); */
}
.topmove_btn::before {
  position: relative;
  content: ' ';
  display: block;
  width: clamp(1px, 1vw, 9px);
  height: clamp(1px, 3.33vw, 30px);
  background-color: white;
  border-radius: 0 0 clamp(1px, 0.56vw, 5px) clamp(1px, 0.56vw, 5px);
  transform: rotate(0.125turn);
  top: clamp(1px, 2.67vw, 24px);
  left: clamp(29px, 3.22vw, 29px);
}

.topmove_btn::after {
  position: relative;
  content: ' ';
  display: block;
  width: clamp(1px, 1vw, 9px);
  height: clamp(1px, 3.33vw, 30px);
  background-color: white;
  border-radius: 0 0 clamp(1px, 0.56vw, 5px) clamp(1px, 0.56vw, 5px);
  transform: rotate(-0.125turn);
  top: clamp(-6px, -0.67vw, -1px);
  left: clamp(1px, 5vw, 45px);
}
.topmove_btn:hover {
  background-color: #f7881d;
}

/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
  footer {
    width: 100%;
    height: 580px;
    padding-top: 16px;
  }

  .footer_box {
    display: block;
    width: 100%;
    margin: 0;
  }
  .sp_flex_direction {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer_nav,
  .footer_info {
    width: 50%;
  }
  .logo_circle {
    width: 98px;
    height: 100px;
    margin: 0 auto;
  }
  .logo_circle__img {
    width: 100px;
    height: 100px;
  }

  .sns {
    margin-top: 8px;
    width: 100%;
    font-size: 16px;
    line-height: 1.45;
    text-align: center;
    padding-bottom: 56px;
  }
  .sns p {
    display: block;
    width: 100%;
    padding-bottom: 8px;
  }
  .sns_img {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    justify-content: space-between;
  }

  .sns__img:first-child {
    width: 34px;
    height: 31px;
  }
  .sns__img:not(:first-child) {
    width: 31px;
    height: 31px;
  }

  .footer_nav {
    display: inline-block;
    width: fit-content;
    margin-left: 27px;
    font-size: 16px;
    line-height: 1.448;
  }
  .footer__nav__li:first-child {
    margin-top: 0;
  }
  .footer__nav__li:nth-child(2) {
    margin-top: 8px;
  }
  .footer__nav__li:nth-child(3) {
    margin-top: 8px;
  }
  .footer__nav__li:nth-child(4) {
    margin-top: 8px;
  }
  .footer__nav__li:last-child {
    margin-top: 8px;
  }
  .footer_info {
    display: inline-block;
    width: fit-content;
    margin-left: 30px;
  }
  .footer_info_customer p {
    font-size: 14px;
    line-height: 1.45;
  }
  .footer_info_customer a {
    font-size: 14px;
    line-height: 1.45;
    text-decoration: underline;
  }
  .footer_info_address p:first-child {
    margin-top: clamp(1px, 2vw, 18px);
    font-size: 16px;
    line-height: 1.45;
  }
  .footer_info_address p:last-child {
    font-size: 12px;
    line-height: 1.1;
  }

  .footer_note {
    display: block;
    width: 100%;
    margin: 0px;
  }
  .footer_note__p {
    display: none;
    margin-left: 54px;
    width: 261px;
    font-size: 6px;
    line-height: 1.21;
  }
  .footer_note_text__img {
    display: block;
    width: 250px;
    height: 36px;
    margin: 60px auto 0;
  }
  .stop__img {
    position: relative;
    top: 56px;
    left: 30px;
    width: 33px;
    height: 45px;
  }
  .recycle__img {
    position: relative;
    top: -75px;
    left: 63px;
    width: 33px;
    height: 33px;
  }
  .osake__img {
    position: relative;
    top: -75px;
    left: 61px;
    width: 33px;
    height: 33px;
  }

  .topmove_btn__a {
    display: none;
  }
  #campaing_jp_point,
  #about_jp_point,
  #product_jp_point {
    margin-top: 0;
    padding-top: 0;
  }
}

/* *********************************************** */

/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
}

/* *********************************************** */

/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
}

/* *********************************************** */

/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
}

/*==================================================
じわっ
===================================*/

.blur {
  animation-name: blurAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes blurAnime {
  from {
    filter: blur(10px);
    transform: scale(1.02);
    opacity: 0;
  }

  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

.blurTrigger {
  opacity: 0;
}
